Source: gemian-lock
Section: utils
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends: cmake (>= 2.8.9),
               pkg-config,
               debhelper (>= 9),
               libpam0g-dev,
               libcairo2-dev,
               libxcb1-dev,
               libxcb-image0-dev,
               libxcb-util0-dev,
               libev-dev,
               libxcb-randr0-dev,
               libxcb-xinerama0-dev,
               libxkbcommon-dev (>= 0.5.0),
               libxkbcommon-x11-dev (>= 0.5.0),
               libxcb-xkb-dev,
               extra-cmake-modules
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/gemian-lock
Vcs-Git: https://github.com/gemian/gemian-lock.git
Vcs-Browser: https://github.com/gemian/gemian-lock

Package: gemian-lock
Architecture: any
Section: x11
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: improved screen locker
 gemian-lock is a simple screen locker like slock. After starting it, you will
 see a lock screen (you can configure the color/an image). You can return
 to your screen by entering your password.
 .
 it is branched from i3lock (http://i3wm.org/i3lock/) with additional features for use with
 the Gemini PDA.
